.full-width {
  width: 100%;
}
.active-slider{
  // margin-left: -70%;
}
md-card {
  max-width: 600px;
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */

}

.active-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
// P.blocktext {
//     margin-left: auto;
//     margin-right: auto;
//     width: 6em
// }

