.admin-sidenav-fab-container {
  width: 100%;
  height: 100vh;

}

.admin-sidenav-fab-container md-sidenav {
  width: 300px;
}

.admin-sidenav-fab-container .mat-sidenav-content,
.admin-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.admin-scrolling-content {
  overflow: auto;
  width: 300px;

}

.admin-fab {
  position: absolute;
  left: 10px;
  top: 10px;
}

.toolbarAdmin {
    padding-left: 20%;
}
